cffi==1.15.1
cryptography==40.0.1
importlib-metadata==6.1.0
jaraco.classes==3.2.3
keyring==23.13.1
more-itertools==9.1.0
pycparser==2.21
SQLAlchemy==2.0.8
sqlglot==11.4.5
typing_extensions==4.5.0
zipp==3.15.0
